body {
	margin: 0;
	font-family: Helvetica;
	background-color: #d23333;
}

h1 {
	font-weight: 100;
	color: white;
}

#logo {
	height: 80px;
	width: 80px;
}

#container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}